

body {
  background: #034;
  color:white;
}

.logo {
  font-size:36px;
}

.top-menu {
  background: #034;
  color: #ddd;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom:-10px;
}

.container-container {
  background: linear-gradient(#fefcea 0%, #f1da36 100%);
}

.logo a {
  color: white;
}

.top-menu .container ul li a {
  color:#ddd;
}

.grill-bg {
  background:url('http://farm7.staticflickr.com/6194/6113990317_ec32b69a65_o.jpg') no-repeat 50% 30%;
  background-size:1920px 1280px;
}

